.view__page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invoice_bill{
    border: solid 1px #aeaeae;
    padding: 50px 50px 200px 50px;
    margin: 50px; 
}

.invoice__detail{
    display: flex;
    gap: 300px;
}

@media screen and (max-width: 767px) {
    .invoice__detail{
        gap: 0px;
    }
}